<header id="header" class="header">
  <h1 class="h1-large">HandyMan For Hire in Galway<img src="assets/images/icons/ie.png" alt="Avatar" class="icon"></h1>
  <div class="wrapper">
    
    <div class="slider"  #sliderContainer>
      <ul class="items">
        <li><img src="assets/images/slider-img1.jpg" alt=""></li>
        <li><img src="assets/images/slider-img2.jpg" alt=""></li>
        <li><img src="assets/images/slider-img3.jpg" alt=""></li>
      </ul>
    </div>
    <a class="prev" (click)="prev()"></a> <a class="next" (click)="next()"></a>
    <div class="banner1-bg"></div>
    <div class="banner-1"></div>
  </div>
  <div class="wrapper">
    <div class="text-container">
    
      <p class="p-large">
        Your Friendly Neighborhood Handyman in Galway.<br>
        Quality Repair, Fair Pricing.<br>
        We Fix It Right!<br>

      </p>
      <a class="btn-outline-lg" href="#services">Offered services</a>
    </div>
  </div>
</header>