.wrapper {
  text-align: right;
  width: 100%;
  overflow: hidden;
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
}

@media (min-width: 800px) {
  .wrapper {
    text-align: right;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    justify-content: flex-end;
    position: relative;
  }
}

.text-container {
  padding: 1rem;
  margin-right: 2rem;
}

.h1-large {
  color: white !important;
  text-shadow: 2px 2px gray;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 2rem;
}

.icon {
  max-width: 2rem;
  max-height: 2rem;
  vertical-align: top;
}

.p-medium {
  position: relative;
  float: right;
  padding-right: 2rem;
  color: white !important;
  text-shadow: 2px 2px gray;
  font-size: 1.5rem;
  line-height: 1.75;
  text-align: right;

  @media (max-width: 700px) {
    font-size: 0.8rem;
  }

  @media (max-width: 600px) {
    top: -3rem;
  }

  @media (max-width: 575px) {
    width: 50%;
    top: -6rem;
  }

  @media (max-width: 400px) {
    top: -8rem;
  }
}

.p-large {
  color: white !important;
  text-shadow: 2px 2px gray;
  font-size: 2rem;
  line-height: 1.5;

  @media (max-width: 500px) {
    font-size: 1.25rem;
  }
}

.tagline {
  @media (max-width: 500px) {
    top: -3rem;
  }
}

/***** slider *****/
.slider-inner {
  padding-left: 284px;
}
.slider {
  position: relative;
  width: 736px; // Set the width of the slider
  height: 397px; // Set the height of the slider
  overflow: hidden; // Hide any parts of the images that exceed the slider dimensions

  .items {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; // Ensure the list takes up the full width of the slider
    height: 100%; // Ensure the list takes up the full height of the slider

    li {
      position: relative; // Position relative to align the image properly
      width: 100%; // Each list item should take up the full width of the slider
      height: 100%; // Each list item should take up the full height of the slider
      display: flex; // Use flexbox for centering
      justify-content: center; // Center horizontally
      align-items: center; // Center vertically

      img {
        max-width: 100%; // Image maximum width should not exceed the container
        max-height: 100%; // Image maximum height should not exceed the container
        object-fit: contain; // Ensure the image is scaled properly
      }
    }
  }
}

// Rest of the sty

.next,
.prev {
  display: block;
  width: 58px;
  height: 58px;
  text-indent: -9999px;
  background: url("../../assets/images/slider-control.png") 0 0 no-repeat;
  position: absolute;
  left: 0;
  top: 47px;
  z-index: 99;
  cursor: pointer;
}

.next {
  left: auto;
  right: 0;
  background-position: left bottom;
}

.banner1-bg {
  width: 284px;
  height: 397px;
  background: url("../../assets/images/banner1-bg.jpg") 0 0 no-repeat;
  float: left;

  @media (max-width: 980px) {
    display: none;
  }
}

.banner-1 {
  width: 376px;
  height: 397px;
  background: url("../../assets/images/banner-1.png") 0 0 no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;

  @media (min-width: 1500px) {
    left: 10rem;
  }

  @media (max-width: 1200px) {
    transform: scale(0.75);
    left: -100px;
    top: 99px;
  }

  @media (max-width: 800px) {
    transform: scale(0.5);
    left: -100px;
    top: 99px;
  }
}
