<header id="header" class="header">
  <h1 class="h1-large">
    Protouch Services | Handyman in Galway<img
      src="assets/images/icons/ie.png"
      alt="Avatar"
      class="icon"
    />
  </h1>
  <div class="wrapper">
    <div class="slider" #sliderContainer>
      <ul class="items">
        <li><img src="assets/images/before-after-1.png" alt="sample before after work 1" /></li>
        <li><img src="assets/images/woodchipper.png" alt="woodchipper" /></li>
        <li><img src="assets/images/before-2.png" alt="sample before work 2" /></li>
        <li><img src="assets/images/after-2.png" alt="sample after work 2" /></li>
        <li><img src="assets/images/work-1.png" alt="sample work 3" /></li>
        <li><img src="assets/images/powerwasher.png" alt="powerwasher" /></li>
        <li><img src="assets/images/work-2.png" alt="powerwash job sample" /></li>
      </ul>
    </div>
    <a class="prev" (click)="prev()"></a> <a class="next" (click)="next()"></a>
    <div class="banner1-bg"></div>
    <div class="banner-1"></div>
  </div>
  <div class="wrapper">
    <div class="text-container">
      <p class="p-large">
        Your Trusted Local Handyman.<br />
        Quality Repair, Fair Pricing.<br />
        We Fix It Right!<br />
      </p>
      <a class="btn-outline-lg" href="#services">Offered services</a>
    </div>
  </div>
</header>
