<nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
  <div class="container">
    <a class="navbar-brand logo-image logo-text" href="#"><img src="assets/images/handyman_logo.png" />
    </a>
    <button class="btn-solid-sm" style="background: black; border:0; padding:0.8rem">
      <a href="tel:0852790019"><i class="fa fa-phone" style="margin-right: 0.2rem;" aria-hidden="true"></i> Vinny 085-279-0019 </a>
    </button>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#header">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">TESTIMONIALS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">CONTACTS</a>
        </li>
        <li>
          <span class="nav-item">
            <a class="btn-solid-sm" href="tel:0852790019">Get Free Quote</a>
          </span>
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown01"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >MORE</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="#">案例研究</a></li>
            <li><div class="dropdown-divider"></div></li>
            <li><a class="dropdown-item" href="#">健身小知識</a></li>
            <li><div class="dropdown-divider"></div></li>
            <li><a class="dropdown-item" href="#">FAQs</a></li>
          </ul>
        </li> -->
      </ul>
     
    </div>
  </div>
</nav>
<app-header></app-header>
<div id="services" class="cards-1 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">WHAT WE DO</div>
        <h2>Explore Our Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- <div class="card">
          <img src="assets/images/mt-2019-serv-icon-01.png" class="card-icon">
          <div class="card-body">
            <h5 class="card-title">Plumbing</h5>
            <p>
              We work with leaky taps, repair/replace taps and fixtures, minor drain problems, plumbing for ice-makers,
              outside taps fitted, radiators replaced etc.
            </p>
            <a class="read-more no-line" href="#">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
          </div>
        </div> -->

        <div class="card">
          <img src="assets/images/mt-2019-serv-icon-02.png" class="card-icon">
          <div class="card-body">
            <h5 class="card-title">Painting</h5>
            <p>
              We provide customers both interior and exterior painting services.
            </p>
            <a class="read-more no-line" href="#">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
          </div>
        </div>

        <div class="card">
          <img src="assets/images/mt-2019-serv-icon-03.png" class="card-icon">
          <div class="card-body">
            <h5 class="card-title">Repairing</h5>
            <p>
              We provide maintenance and repair services upon request.
            </p>
            <a class="read-more no-line" href="#">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
          </div>
        </div>

        <div class="card">
          <img src="assets/images/mt-2019-serv-icon-05.png" class="card-icon">
          <div class="card-body">
            <h5 class="card-title">Exterior</h5>
            <p>
              We clean guttering and do powerwashing.
            </p>
            <a class="read-more no-line" href="#">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">

        <!-- <div class="card">
          <img src="assets/images/mt-2019-serv-icon-07.png" class="card-icon">
          <div class="card-body">
            <h5 class="card-title">Maintainence</h5>
            <p>
              We provide maintenance and repair services upon request.
            </p>
            <a class="read-more no-line" href="#">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
          </div>
        </div> -->

        <div class="card">
          <img src="assets/images/mt-2019-serv-icon-06.png" class="card-icon">
          <div class="card-body">
            <h5 class="card-title">Installation</h5>
            <p>
              We assemble flat-pack TV stands, shelves, cabinets, or other types of furniture.
            </p>
            <a class="read-more no-line" href="#">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
          </div>
        </div>

        <div class="card">
          <img src="assets/images/mt-2019-serv-icon-09.png" class="card-icon">
          <div class="card-body">
            <h5 class="card-title">Gardening</h5>
            <p>
              We do mowing and cutting the lawn. Trimming, cutting and pruning hedges.
            </p>
            <a class="read-more no-line" href="#">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p> In addition to our listed services, we also welcome on-request enquiries for other types of work carried out.<br>
          Feel free to reach out to us, and we'll be happy to discuss how we can assist you with your unique requirements.</p>

        <!-- <div class="card">
          <img src="assets/images/mt-2019-serv-icon-08.png" class="card-icon">
          <div class="card-body">
            <h5 class="card-title">Tiling</h5>
            <p>
              We repair and replace loose tiles, slates, ridge tiles, and lead work.
            </p>
            <a class="read-more no-line" href="#">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
          </div>
        </div> -->

       
      </div>
    </div>
  </div>
</div>
<!-- <div id="details" class="basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/details-1.png" alt="alternative" />
        </div>
      </div>
      <div class="col-lg-6 col-xl-5">
        <div class="text-container">
          <div class="section-title">WHAT WE DO</div>
          <h2>The right influencer can boost your conversion</h2>
          <p>
            Etiam tempus condimentum congue. In sit amet nisi eget massa
            condimentum lobortis eget ac eros. In hac habitasse platea dictumst.
            Aenean molestie mauris eget sapien sagittis, a bibendum magna
            tincidunt
          </p>
          <a class="btn-solid-reg" href="#contact">Get Free Quote</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-5">
        <div class="text-container">
          <div class="section-title">ABOUT US</div>
          <h2>Your Trusted Handyman in Galway's Westside, Knockacarra and Surrounding Regions!</h2>
          <p>
            Our top-notch handyman services are primarily focused on serving the Westside, Knockacarra region in Galway. We take great pride in catering to the needs of our valued customers in this area and delivering exceptional service with a personal touch. For those located in other regions, we may still be able to accommodate your needs based on availability and specific enquiries. Please don't hesitate to get in touch with us to discuss your requirements, and we'll do our best to assist you with your project, wherever possible.
          </p>
          <a class="btn-outline-reg" href="#">Details</a>
        </div>
      </div>
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/map.png" alt="alternative" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="features" class="accordion-1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <h2 class="h2-heading">Online service features</h2>
        <p class="p-heading">
          Suspendisse vitae enim arcu. Aliquam convallis risus a felis blandit,
          at mollis nisi bibendum. Aliquam nec purus at ex blandit posuere nec a
          odio. Proin lacinia dolor justo
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <div class="accordion-icon">
              <span class="fas fa-tv"></span>
            </div>
            <div class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Analyse the product and design plan
              </button>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Mauris ornare libero et pharetra hendrerit. Cura elementum
                lectus quis tellus pretium, vitae lobortis dui sagittis aliquam
                et enim vel semon anticus
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-icon blue">
              <span class="fas fa-microphone"></span>
            </div>
            <div class="accordion-header" id="headingTwo">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Find the market opportunities
              </button>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Mauris ornare libero et pharetra hendrerit. Cura elementum
                lectus quis tellus pretium, vitae lobortis dui sagittis aliquam
                et enim vel semon anticus
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-icon purple">
              <span class="fas fa-video"></span>
            </div>
            <div class="accordion-header" id="headingThree">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                Prepare the product launch campaign
              </button>
            </div>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Mauris ornare libero et pharetra hendrerit. Cura elementum
                lectus quis tellus pretium, vitae lobortis dui sagittis aliquam
                et enim vel semon anticus
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <div class="accordion-icon orange">
              <span class="fas fa-tools"></span>
            </div>
            <div class="accordion-header" id="headingFour">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                Evaluate the campaign and adjust
              </button>
            </div>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Mauris ornare libero et pharetra hendrerit. Cura elementum
                lectus quis tellus pretium, vitae lobortis dui sagittis aliquam
                et enim vel semon anticus
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-7">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/features-dashboard.png" alt="alternative" />
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="cards-2 bg-gray" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="h2-heading">Client Testimonials</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
          <div class="card-body">
            <p class="testimonial-text">
              I would have no hesitation in recommending Vinny for any job around the house. Vinny came to my house and gave me reasonable quote before he started the work. Vinny carried out all the work to an excellent standard. I had a variety of jobs to do but no job was too small or too large for him. Get him you won’t regret it.
            </p>
            <div class="testimonial-author">Roe Smith</div>
            <!-- <div class="occupation">New Castle, Galway</div> -->
          </div>
          <div class="gradient-floor red-to-blue"></div>
        </div>

        <div class="card">
          <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
          <div class="card-body">
            <p class="testimonial-text">
              I was very impressed with the service I received from Handyman4Hire Galway. Vinny changed the locks, painted the walls and fixed the ceiling. All the work was done to an excellent standard. He was on time and very courteous. I wouldn’t hesitate recommending Handyman4Hire Galway. I have already referred him to my friends and collegues.
            </p>
            <div class="testimonial-author">Sam Bloom</div>
            <!-- <div class="occupation">Rahoon, Galway</div> -->
          </div>
          <div class="gradient-floor blue-to-purple"></div>
        </div>

        <div class="card">
          <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
          <div class="card-body">
            <p class="testimonial-text">
              Very helpful and accommodating – I had asked him to do just a small job that had to be put off several times but he was still happy to do the job. Put up a rail and did a thorough job with this.
            </p>
            <div class="testimonial-author">Bill McKenzie</div>
            <!-- <div class="occupation">Knocknacarra, Galway</div> -->
          </div>
          <div class="gradient-floor purple-to-green"></div>
        </div>

        <!-- <div class="card">
          <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
          <div class="card-body">
            <p class="testimonial-text">
              Suspendisse vitae enim arcu. Aliqu convallis risus a felis
              blandit, at mollis nisi bibendum aliquam noto ricos
            </p>
            <div class="testimonial-author">Vanya Dropper</div>
            <div class="occupation">Galway, Ireland</div>
          </div>
          <div class="gradient-floor red-to-blue"></div>
        </div>

        <div class="card">
          <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
          <div class="card-body">
            <p class="testimonial-text">
              Suspendisse vitae enim arcu. Aliqu convallis risus a felis
              blandit, at mollis nisi bibendum aliquam noto ricos
            </p>
            <div class="testimonial-author">Lefty Brown</div>
            <div class="occupation">Galway, Ireland</div>
          </div>
          <div class="gradient-floor blue-to-purple"></div>
        </div>

        <div class="card">
          <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
          <div class="card-body">
            <p class="testimonial-text">
              Suspendisse vitae enim arcu. Aliqu convallis risus a felis
              blandit, at mollis nisi bibendum aliquam noto ricos
            </p>
            <div class="testimonial-author">Susane Blake</div>
            <div class="occupation">Galway, Ireland</div>
          </div>
          <div class="gradient-floor purple-to-green"></div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- <div class="slider-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>
          Trusted by over <span class="blue">50</span> clients in Ireland
        </h4>
        <hr class="section-divider" />

        <div class="slider-container">
          <div class="swiper-container image-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="img-fluid" src="assets/images/customer-logo-1.png" alt="alternative" />
              </div>
              <div class="swiper-slide">
                <img class="img-fluid" src="assets/images/customer-logo-2.png" alt="alternative" />
              </div>
              <div class="swiper-slide">
                <img class="img-fluid" src="assets/images/customer-logo-3.png" alt="alternative" />
              </div>
              <div class="swiper-slide">
                <img class="img-fluid" src="assets/images/customer-logo-4.png" alt="alternative" />
              </div>
              <div class="swiper-slide">
                <img class="img-fluid" src="assets/images/customer-logo-5.png" alt="alternative" />
              </div>
              <div class="swiper-slide">
                <img class="img-fluid" src="assets/images/customer-logo-6.png" alt="alternative" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="basic-3" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container">
          <h2>Not Handy? Find Vinny!</h2>
          <p class="p-large">
            Call/Whatsapp now for a free quote on 085 279 0019.
            In order to provide you a prompt response and accurate quotation, We recommend you provide photo(s) with description for the requested work during enquiry.
          </p>
          <a class="btn-outline-lg" href="https://wa.me/+353852790019"><img src="assets/images/whatsapp.png" style="    width: 3rem;
            margin-right: 1rem;">Get free quote</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="quote" class="form-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <div class="section-title">Get Free Quote</div>
          <h2>Submit the form for quote</h2>
          <p>
            Please complete the form below providing detailed information, then I’ll get back to you as soon as I can to arrange an appointment time or to provide you with a FREE no obligation quote.
To request a call back please include your phone number.
          </p> -->
          <!-- <ul class="list-unstyled li-space-lg">
            <li class="d-flex">
              <i class="fas fa-square"></i>
              <div class="flex-grow-1">
                Vel maximus nunc aliquam ut. Donec semper, magna a pulvinar
              </div>
            </li>
            <li class="d-flex">
              <i class="fas fa-square"></i>
              <div class="flex-grow-1">
                Suscipit sit amet quis lorem. Sed risus ipsum, egestas mare
              </div>
            </li>
            <li class="d-flex">
              <i class="fas fa-square"></i>
              <div class="flex-grow-1">
                Sem pulvinar suscipit sit amet quis lorem. Sed risus
              </div>
            </li>
          </ul> -->
        <!-- </div>
      </div>
      <div class="col-lg-6">
        <form>
          <div class="form-group">
            <input type="text" class="form-control-input" placeholder="Name" required />
          </div>
          <div class="form-group">
            <input type="email" class="form-control-input" placeholder="Email" required />
          </div>
          <div class="form-group">
            <input type="text" class="form-control-input" placeholder="Phone Number" required />
          </div>
          <div class="form-group">
            <input type="text" class="form-control-input" placeholder="Leave me a message (if any)" />
          </div>
          <div class="form-group">
            <button type="submit" class="form-control-submit-button">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<div class="footer bg-gray">
  <img class="decoration-circles" src="assets/images/decoration-circles.png" alt="alternative" />
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>
          If you want to find out our latest news then follow us!
        </h4>
        <div class="social-container">
          <span class="fa-stack">
            <a href="#your-link">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack">
            <a href="#your-link">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack">
            <a href="#your-link">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-pinterest-p fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack">
            <a href="#your-link">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-instagram fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack">
            <a href="#your-link">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-youtube fa-stack-1x"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copyright bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <ul class="list-unstyled li-space-lg p-small">
          <li><a href="#">Article Details</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12">
        <p class="p-small statement">
          Copyright © <a href="#">Lindy @ Woondrous.com</a>
        </p>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12">
        <p class="p-small statement">
          Distributed by
          <a href="https://woonhimwong.me/" target="_blank">Lindy @ Woondrous.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
<button id="myBtn">
  <img src="assets/images/up-arrow.png" alt="alternative" />
</button>

